  *{
    background-color:rgb(251, 251, 222);
    margin:15px
  }
   body{
    margin:0%;
     
   }
  h1{
    text-align: center; 
    background-color: rgb(212, 212, 229);
    color: rgb(4, 0, 7);
   }
   h3{
    background-color: rgb(153, 152, 152);
    
   }
   h4{
    background-color:rgb(184, 183, 183) ;
   
   }
   section{
    text-align: left;
   }
    